DATABASE_URL=
JWT_SECRET=
UPLOAD_DIR=
UPLOAD_PUBLIC_PATH=/media
SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=
SMS_FROM=
SMS_PASSWORD=
SMS_USERNAME=
SMS_OTP_BODY_ID=
SMS_ORDER_CUSTOMER_BODY_ID=
SMS_ORDER_SHOP_BODY_ID=
SMS_PAYOUT_BODY_ID=
