DATABASE_URL=
JWT_SECRET=
UPLOAD_DIR=
UPLOAD_PUBLIC_PATH=/media
SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=
# SMS Console Token API authentication (server-side only)
MELIPAYAMAK_TOKEN=
SMS_FROM=
SMS_OTP_BODY_ID=
SMS_ORDER_CUSTOMER_BODY_ID=
SMS_ORDER_SHOP_BODY_ID=
SMS_PAYOUT_BODY_ID=
ZARINPAL_MERCHANT_ID=
SITE_URL=
